html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduced) {
    html {
        scroll-behavior: auto;
    }
}

:target {
  scroll-margin-top: 100px;
  outline: 6px solid #7d4c10;
  animation: fadeOutOutline 800ms 800ms forwards;
}

@keyframes fadeOutOutline {
  to {
    outline-color: transparent;
  }
}

nav li li li {
    /* Hide subsubsections in the menu */
    display: none !important;
}

nav {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

nav ul {
    padding: 0;
    margin: 5px 50px 20px 80px;
}

nav a {
    display: block;
    width: 100px;
    padding: 10px;
    background: #111;
    border-radius: 20px;
    text-decoration: none;
}

nav li {
    list-style: none;
    position: relative;
    display: inline-block;
}

nav ul ul {
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
    z-index: 999;
}

nav li:hover ul {
    display: block;
}

nav li:hover>a {
    background-color: #222;
}

nav li:hover>a:hover {
    background-color: #333;
}

html {
    margin-top: 2.5em;
    padding-bottom: 20em;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.7;
    padding: 0.125em 1em 0.5em;
    margin: auto;
    max-width: 1000px;
    color: #ddd;
    background: black;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: lightblue;
}

a:focus {
    outline: thin dotted;
}

*::-moz-selection {
    background: rgba(255, 255, 0, 0.3);
}

*::selection {
    background: rgba(255, 255, 0, 0.3);
}

p {
    margin: 1em 0;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 100%;
    font-weight: normal;
}

h4,
h5,
h6 {
    font-weight: bold;
}

.title {
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}

h1.title::after {
    content: " ";
    display: block;
    margin-top: 12px;
    border: none;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}

h1::after {
    content: " ";
    display: block;
    margin-top: 12px;
    border: 1px solid white;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.9em;
}

blockquote {
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #EEE solid;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}

pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 0.98em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

ins {
    background: #ff9;
    text-decoration: none;
}

mark {
    background: #ff0;
    font-style: italic;
    font-weight: bold;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 2em;
}

li p:last-child {
    margin-bottom: 0;
}

ul ul,
ol ol {
    margin: 0.3em 0;
}

dl {
    padding: 0;
    margin: 0;
}

dd {
    font-size: medium;
}

dl dd:last-of-type {
    display: none;
}

dl:hover dd:last-of-type {
    display: block;
}

@media (max-width: 1080px) {
    .title {
        font-size: 2.5em;
        text-align: center;
    }

    nav {
        background: #303030;
        font-size: 12px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }

    nav ul {
        padding: 2px;
        margin: 2px auto;
    }

    nav a {
        width: 80px;
        margin: 4px;
        padding: 2px;
        background: #111;
        border-radius: 20px;
    }

    nav ul ul {
        padding: 0;
        margin: 0;
        position: absolute;
        display: none;
    }

    nav li:hover ul {
        display: none;
    }

    nav li:hover>a {
        background-color: #222;
    }

    nav li:hover>a:hover {
        background-color: #555;
    }

    h1.title::after {
        border: 1px solid white;
    }

    h1::after {
        border: none;
    }
}
